/* Reset Style */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html, body {
    height: 100%;
}
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin-top: 100px;
}

/* Header */

header {
    position: fixed;
    display : flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    width: 100%;
    height: 8rem;
    top: 0;
    background-color: #f0f8ff;
    z-index: 999;

}
.title {
 margin-left: 1rem;
}
.coin {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    border: #000 solid 1px;
    padding: 0.5rem;
    background-color: #fff;
}
.pictureCoin {
    height: 40px;
    width: auto;
}
.coin > p {
    font-size: 1.5rem;
    font-weight: bold;
}
/* MOBILE FIRST */
/* Main for Explanation- and Keyboard-section */

.grid-container {
    display: flex;
    flex-direction: column;
    height: auto;
    margin: 2rem;

}
.Explanation {
    text-align: start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 1rem;
    margin-bottom: 1rem;
    line-height: 1.5rem;
}
.importantText {
    font-weight: bold;
}
.specialEventExplainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 1rem;
    line-height: 1.5rem;
}
.keyboard {
    display: none;
    grid-column: 1 / 1;
    grid-row: 2 / 2;
    margin-left: 1rem;
    justify-self: start;
    align-self: center;
    text-align: start;
}
.keyboardShortcuts {
    list-style: none;
}
/* Display Event/ WinLose */
.displayEventAndWin {
    display: flex;
    flex-direction: column;
    border: #000 solid;
    border-radius: 10px;
}
#displayWin, #displayEvent {
    height: 100%;
    width: 100%;
    text-align: center;
}
#displayWin {
   display: flex;
   justify-content: center;
   align-items: center;
   border-bottom: #000 solid;
   border-radius: 6.75px 0 0 0;
   
}
#displayEvent {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    border-radius: 0 0 6.75px 7.75px;
}

/* SlotMachine */

.slotMachine {
    border: #000 solid;
    border-radius: 6.5px 6.5px 0 0;
    width: 100%;
    text-align: center;
    z-index: 5;
    margin-top: 1rem;
}

.slotMachineGrid {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}
.displayFrame {
    justify-self: end;
    align-self: end;
    width: 40%;
    height: 100%;
    display: felx;
    flex-direction: column;
    justify-self: center;
    align-self: center;
    margin-left: 0.5rem;

    
}
.frame {
    margin: 0 0 0.5rem 0;
    padding-left: 0.5rem;
    display: grid;
    height: 130px;
    overflow: hidden;
    position: relative;

    border: #000 solid;
    border-radius: 10px;
}

#apple, #cherries, #grapes, #lemon, #orange, #plum, #watermelon {
    align-self: center;
    z-index: 10;
}
.button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
    width: 50%;
    padding-top: 0.5rem;
    
}
.startBtn, .refreshBtn, .freeSpin {
    margin-top: 10px;
    margin-bottom: 1rem;
    width: 10rem;
    border-radius: 1rem;
}
.startBtn {
    height: 2rem;
}
.freeSpin {
    height: 2rem;
}
.refreshBtn {
    height: 1.5rem;
}
#userCoinInSlotMachine {
    width: 6rem;
    border-radius: 1rem;
    padding: 0.25rem;
}

/* SlotMachine Icons */

#apple, #cherries, #grapes, #lemon, #orange, #plum, #watermelon {
    width: auto;
    height: 120px;
    background-repeat: no-repeat;
    background-size: contain;
}

#apple {
    background-image: url("../images/apple.png");
}
#cherries {
    background-image: url("../images/cherries.png");
}
#grapes {
    background-image: url("../images/grapes.png");
}
#lemon {
    background-image: url("../images/lemon.png");
}
#orange {
    background-image: url("../images/orange.png");
}
#plum {
    background-image: url("../images/plum.png");
}
#watermelon {
    background-image: url("../images/watermelon.png");
}


/* OFF // ON */
.off {
    background-color: #67676b;
    cursor: wait;
    pointer-events: none;
}


/* SPIN ANIMATION */

@keyframes symbol-spin {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }
    50% {
        opacity: 1;
        transform: translateY(0);
    }
}

.symbol {
    animation: symbol-spin 3s linear forwards;
    will-change: transform, opacity;
}

/* DESKTOP */
@media screen and (min-width: 1920px) {
    header {
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }
   
    .grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        height: 25rem;
    }

    .Explanation, .specialEventExplainer {
        text-align: start;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .Explanation {
        grid-column: 1 / 2;
        grid-row:  1 / 2;
        justify-items: start;
        align-self: start;
    }

    .specialEventExplainer {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        justify-items: start;
        align-self: start;
    }

    .keyboard {
        display: block;
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        justify-items: end;
        align-self: end;

    }
    /* Display WIN LOSE */
    .displayEventAndWin {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        height: 4rem;
        width: 80%;
        margin: 0 7.8rem 0 12rem;
        border-bottom: none;
        border-top: #000000 solid;
        border-left: #000000 solid;
        border-right: #000000 solid;
        border-radius: 10px 10px 0 0;
        background-color: #f0f8ff;
    }
    #displayWin, #displayEvent {
        height: 100%;
        width: 50%;
        text-align: center;
    }
    #displayWin {
       display: flex;
       justify-content: center;
       align-items: center;
       border-right: #000000 solid;
       border-bottom: none;
       border-radius: 6.75px 0 0 0;
       
    }
    #displayEvent {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
    }
    
    /* SlotMachine */
    
    .slotMachine {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        border: #000000 solid;
        border-radius: 0 0 6.5px 6.5px;
        width: 80%;
        height: 20rem;
        text-align: center;
        margin: 0 75% 0 10%;
        z-index: 5;
    }
    
    .slotMachineGrid {
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-template-rows: 1fr;
        gap: 1rem;
        height: 10.5rem;
        width: 40rem;
        margin-bottom: 2rem;
    }
    .displayFrame {
        justify-self: center;
        align-self: center;
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        
    }
    .frame {
        margin: 0 0 0.5rem 0;
        padding-left: 0.5rem;
        display: grid;
        overflow: hidden;
        position: relative;
        height: auto;

        border: none;
        border-radius: 0;
    }
    #firstFrame {
        border-radius: 10px 0 0 10px;
        border-top: #000 solid;
        border-left: #000 solid;
        border-bottom: #000 solid;
    }
    #secondFrame {
        border: #000 solid;
    }
    #thirdFrame {
        border-radius: 0 10px 10px 0;
        border-top: #000 solid;
        border-right:#000 solid;
        border-bottom:#000 solid;
    }
    #apple, #cherries, #grapes, #lemon, #orange, #plum, #watermelon {
        align-self: center;
        z-index: 10;
    }
    .button {
        display: flex;
        align-items: center;
        flex-direction: column;
        height: 100%;
        padding-top: 0.5rem;
        padding-left: 1rem;
        
    }
    .startBtn, .refreshBtn, .freeSpin {
        margin-top: 10px;
        width: 6rem;
        border-radius: 1rem;
    }
    .startBtn {
        height: 2rem;
    }
    .freeSpin {
        height: 2rem;
    }
    .refreshBtn {
        height: 1.5rem;
    }
    #userCoinInSlotMachine {
        width: 6rem;
        border-radius: 1rem;
        padding: 0.25rem;
    }
}